
@{
    ViewBag.Title = "HeroManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="animated shake">Hero Management</h1><br />
<hr />
<article>

    <p>
        <h3>
            Professional heroes much rake in as much more as they can to keep their practice open. As such for many their likeablity ensures their success. Those that don't have such factors employ people who do. Join this program and learn to manage people heroes and common fols as well.
            Our Hero Management course provides an environment that allows strong aspiring heroes to come together and share ideas. It allows one the opportunity to plan and scout for prospective clients.
        </h3>
    </p>
    <p>
        <h3>
            In addition get to understand the complexities of training heroes in the law and understand the procedures of putting away bad guys.
            We all can contribute towards keeping people safe. If you’re an avid problem solver, really strong and a lover of tech then this is the pathway for you.
            Many of the Instructors teaching strategies for managing heroes were and some still are heroes themselves. In addition you get a license to pass on these values.
        </h3>
    </p>

</article>
<br />
<hr />
<div class="row">
    <div class="col-xs-6 col-md-3 animated bounce">
        <a href="#" class="thumbnail">
            <img src="~/Images/fea5.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/fea6.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/fea1.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/fea4.jpg" alt="...">
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-3 animated bounce">
        <a href="#" class="thumbnail">
            <img src="~/Images/hero.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/hero3.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/hero5.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/hero2.jpg" alt="...">
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-3 animated fadeIn">
        <a href="#" class="thumbnail">
            <img src="~/Images/hero6.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/hero7.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/hero9.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/hero10.jpg" alt="...">
        </a>
    </div>
</div>
<br />

<br />