
@{
    ViewBag.Title = "HeroSupport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="animated shake">Hero Support</h1>
<br />
<hr />
<article>
    <p>
        <h3>
            Be the best of the best side-kick. Many don't knowthat the best side-kicks earn as much as professional heroes and are treated with as much respect. Get to learn how to handle yourself in dangerous scenarioes.
            Professional heroes much rake in as much more as they can to keep their practice open. Join this program and learn to partner heroes properly.<br />
            Our Hero Support program provides an environment that allows strong aspiring heroes to come together and share ideas. It allows one the opportunity to plan and scout for prospective partners.
        </h3>
    </p>
    <p>
        <h3>
            In addition get to understand the complexities of training heroes in the law and understand the procedures of putting away bad guys.
            We all can contribute towards keeping people safe. If you’re an avid problem solver, really strong and a lover of tech then this is the pathway for you.<br />
            Many of the Instructors teaching strategies for supporting heroes were and some still are heroes themselves. In addition you get a certification that gives heroes the confidence to parnter with you.
        </h3>
    </p>
</article>


<br />
<hr />
<div class="row">
    <div class="col-xs-6 col-md-3 animated shake">
        <a href="#" class="thumbnail">
            <img src="~/Images/fea5.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/fea6.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/fea1.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/fea4.jpg" alt="...">
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-3 animated fadeIn">
        <a href="#" class="thumbnail">
            <img src="~/Images/hero.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/hero3.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/hero5.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/hero2.jpg" alt="...">
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/hero6.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/hero7.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/hero9.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3 animated shake">
        <a href="#" class="thumbnail">
            <img src="~/Images/hero10.jpg" alt="...">
        </a>
    </div>
</div>
<br />

<br />