
@{
    ViewBag.Title = "HeroEducation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hero Education</h1>
<br />
<hr />
<div>
    <div>
        <h2 class="animated shake">Become a Top Educator for Aspiring Heroes</h2>
    </div>
    <div>
        <article>
            <p>
                <h3>

                    For many that are born without the power of flight, superhuman strength or speed but with a strong sense of justice. Our Hero Education is the best for you. 
                    Get to understand the complexities of training heroes in the law and understand the procedures of putting away bad guys.
                    We all can contribute towards keeping people safe. If you’re an avid problem solver, really strong and a lover of tech then this is the pathway for you.
                </h3>
            </p>
            <p>
                <h3>
                    There’s no better way to keep up with the dangers of living in a world full of dangerous people than experience on how to deal with dangerous villians from a great employer in London professional heroes.
                    Many of the Instructors teaching strategies for educating heroes were and some still are heroes themselves. In addition you get a license to pass on these values.
                </h3>
            </p>
        </article>
    </div>
    <br />
    <hr />
</div>
<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/fea5.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/fea6.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/fea1.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/fea4.jpg" alt="...">
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/hero.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/hero3.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/hero5.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/hero2.jpg" alt="...">
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/hero6.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/hero7.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/hero9.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Images/hero10.jpg" alt="...">
        </a>
    </div>
</div>
<br />

<br />