@{
    ViewBag.Title = "Home Page";
}

<div>
    <h3>Welcome to Hero Academy</h3>
    <img src="~/Images/slide1.png" class="img-responsive animated lightSpeedIn" />

    <div>
        <p class="lead">
            <article>
                Hero Academy is one of the World's biggest Colleges with around 20,000 students across 4 campuses in Four different Countries.
                Offering a wide variety of vibrant vocational and academic courses to prepare Individual that possess great talent for the world of professional Heroism, Hero Academy provides flexible learning opportunities to suit all learning needs.
                Whatever path you choose we offer over 50 courses and sub-courses from access to degree level and continuing professional development to help you achieve your future career ambitions.
            </article>
        </p>

    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <h3>Course​​ application guidelines​​ ​</h3>
        <p>
            <article>
                Our academic centres have skilled, knowledgeable staff with expertise in specialist areas with industry experience to ensure our students have the most relevant and up to date teaching.
                The curriculum is designed to meet the needs of industry and we are continually committed to the highest academic standards and excellence in learning and teaching.

                We have established relationships with employers and universities to create a connected community that provides you with strong links to work or further study.


                .
            </article>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Hero Academy Key Facts​</h3>
        <p>
            <article>
                Hero Academy has achieved the highest rating possible in its recent Education Scotland inspection report.

                Education Scotland’s overarching judgement on the college is that

                “Hero Academy has in place effective arrangements to maintain and enhance the quality of its provision and outcomes for students and other stakeholders.”

                This is the highest rating a college can achieve in the review process.
                96% of our successful full time graduates move on to work or further study within six months.
            </article>
        </p>

    </div>
    <div class="col-md-4">
        <h3>Remote Learning</h3>
        <p>
            <article>
                You can easily locate a partner to go on mock mission with as part of our training exercise.
                You will find all you need at the college to help you get great results and achieve your goals, but have fun along the way.

                Our people are the heartbeat of the organisation and we aim to develop a college that enables our students, our staff and our local communities to thrive.
                We are committed to ensuring our students are prepared for successful careers through work placements, internships and connections to industry.
            </article>
        </p>
    </div>
</div>
